@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --black: #09090A;
  --white: #FFFFFF;
  --gray: #C4C4CC;
  --purple: #996DFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--black);
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

a, button, p {
  color: var(--white);
}

.container {
  width: 1100px;
  margin: auto;
}

@media screen and (max-width: 1150px) {
  .container {
    width: 100vw;
    padding: 40px;
  }
}